<form id="msform">

  <fieldset>
    <input placeholder="ID" type="text"/>
    <input placeholder="Name" type="text"/>
    <input placeholder="Price" type="text"/>
    <input placeholder="Normal value" type="text"/>
    <label id="job">Department</label>
    <select>
      <option class="jobpro" value="1">Blood</option>
      <option value="2">Liver Function</option>
    </select>
    <br/>
    <input class="next action-button" name="next" type="button" value="Add"/>
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Social Profiles</h2>
    <h3 class="fs-subtitle">Your presence on the social network</h3>
    <input name="twitter" placeholder="Twitter" type="text"/>
    <input name="facebook" placeholder="Facebook" type="text"/>
    <input name="gplus" placeholder="Google Plus" type="text"/>
    <input class="previous action-button" name="previous" type="button" value="Previous"/>
    <input class="next action-button" name="next" type="button" value="next"/>
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">We will never sell it</h3>
    <input name="fname" placeholder="First Name" type="text"/>
    <input name="lname" placeholder="Last Name" type="text"/>
    <input name="phone" placeholder="Phone" type="text"/>
    <textarea name="address" placeholder="Address"></textarea>
    <input class="previous action-button" name="previous" type="button" value="Previous"/>
    <input class="submit action-button" name="submit" type="submit" value="Add"/>
  </fieldset>
</form>

