<input placeholder="Bill ID" type="text"/>
<input placeholder="Bill Paid" type="text"/>
<input placeholder="Discount" type="text"/>
<input placeholder="Net" type="text"/>
<input placeholder="Patient ID" type="text"/>
<!--Exist patients from DB -->
<label for="patient">Choose a Patient:</label>
<select id="patient" name="patient">
  <option value="patient 1">patient 1</option>
  <option value="patient 2">patient 2</option>
  <option value="patient 3">patient 3</option>
</select>
<!--Test from DB for Selected Patient-->
<input placeholder="Test ID" type="text"/>
<label for="Test">Choose a Test:</label>
<select id="Test" name="Test">
  <option value="Test 1">Test 1</option>
  <option value="Test 2">Test 2</option>
  <option value="Test 3">Test 3</option>
</select>

