<!--<input type="text" placeholder="Doctor ID">-->
<!--<input type="text" placeholder="Doctor Name">-->
<!--<input type="text" placeholder="Doctor Phone">-->
<!--<input type="text" placeholder="Doctor Address">-->
<!--<input type="text" placeholder="Doctor Salary">-->
<!--<input type="text" placeholder="Doctor Quantification">-->
<!--<input type="text" placeholder="Doctor work_period">-->
<!--<input type="text" placeholder="Doctor email">-->

<table class=" table table-bordered table-hover">
  <thead>
  <tr style="background-color: crimson">
    <th>Doctor ID</th>
    <th>Doctor Name</th>
    <th>Doctor Phone</th>
    <th>Doctor Salary</th>
    <th>Doctor Quantification</th>
    <th>Doctor work_period</th>
    <th>Doctor email</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
  </tr>
  </tbody>
</table>
