<td>
  <button class="btn btn-success" type="button">Add</button>
</td>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Bill id</th>
    <th scope="col">Patient Name</th>
    <th scope="col">Test Name</th>
    <th scope="col">Bill Paid</th>
    <th scope="col">Discount</th>
    <th scope="col">Net</th>

    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>Larry</td>
    <td>the Bird</td>


    <td>
      <button class="btn btn-warning" type="button">Edit</button>
    </td>
    <td>
      <button class="btn btn-danger" type="button">Delete</button>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>Larry</td>
    <td>the Bird</td>


    <td>
      <button class="btn btn-warning" type="button">Edit</button>
    </td>
    <td>
      <button class="btn btn-danger" type="button">Delete</button>
    </td>
  </tr>

  </tbody>
</table>
